<footer class="footer-wrapper">
    <div class="footer-inner">
        ©
        <span itemprop="copyrightYear"><%= theme.copyrightYear %></span>
        <span class="with-love"> <i class="fa fa-user"></i> </span>
        <span class="author" itemprop="copyrightHolder"><%= config.author %></span>
        <span class="theme-info">
            <a class="theme-link" target="_blank" href=""><%= config.theme %>主题 <%= theme.version %></a>
        </span>
    </div>
</footer>