.archive-wrapper {
  margin: 0 .5rem 4rem;
  .title {
    border-bottom: solid 1px;
  }
  .title, .mate {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.125rem;
    color: #4a4a4a;
  }
  .archive-list {
    padding: 1rem .5rem 2rem;
    border-bottom: solid 1px;
    .articles {
      border-left: solid 1px #cecece;
      .article {
        padding: .5rem 1rem;
        .time {
          font-size: 1rem;
        }
      }
      a {
        display:block;
        font-style: italic;
        font-size: .9rem;
        color: #4a4a4a;
      }
      a:hover, a:active{
        border-left: .5rem solid rgb(57,197,187);
        color: rgb(57,197,187);
      }
    }
  }
}