.categories-wrapper {
  padding: 0 1.5rem 6rem;
  .title {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.125rem;
    color: #4a4a4a;
    border-bottom: solid 1px;
  }
  .category-list {
    padding: 1rem 0;
    .category-list-item {
      .category-list-link {
        padding: .5rem 1rem;
        display:block;
        font-style: italic;
        font-size: .9rem;
        color: #4a4a4a;
      }
      a:hover, a:active {
        border-left: .5rem solid rgb(57,197,187);
        border-right: .5rem solid rgb(57,197,187);
        color: rgb(57,197,187);
      }
    }
  }
}