.tags-wrapper {
  padding: 0 1.5rem 6rem;
  .title {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.125rem;
    color: #4a4a4a;
    border-bottom: solid 1px;
  }
  .tag-list {
    margin: 1rem auto;
    .tag-link {
      margin:.5rem;
      padding: 0 .5rem;
      font-size: .8rem;
      font-style: italic;
      text-align: center;
      display: inline-block;
      min-width: 2rem;
      background: #ee404a;
      color: #fff;
      box-shadow: 2px 3px 5px #FFD39B;
      &:hover, :active {
        background: rgb(57,197,187);
      }
    }
  }
}