.footer-wrapper {
  position: relative;
  margin: 0 auto;
  line-height: 3rem;
  max-width: 800px;
  color: #fff;
  text-align: center;
  .footer-inner {
    position: absolute;
    right: 0;
    width: 600px;
    background #000;
    box-sizing: border-box;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
}