.page-nav {
  position: relative;
  text-align: center;
  margin: 2rem 0;
  span {
    display: inline-block;
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #fff;
    background: #000;
    margin: 0 2px;
  }
  a {
    display: inline-block;
    line-height: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    color: #000;
    background: #fff;
    margin: 0 2px;
  }
  .next {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
  }
  .prev {
    position: absolute;
    left: 0;
    font-size: 1.2rem;
  }
  .extend {
    background transparent
  }
}